@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./markdown.css";

body {
  @apply text-white;
  background-color: #080808;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Regular/OpenSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/Italic/OpenSans-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Light/OpenSans-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/LightItalic/OpenSans-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Semibold/OpenSans-Semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Bold/OpenSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/BoldItalic/OpenSans-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/ExtraBold/OpenSans-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url('/fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff2') format('woff2');
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
}

.gradient-circle, .gradient-circle-bottom {
  position: absolute;
  pointer-events: none;
  z-index: auto;
  left: 50%;
  transform: translateX(-50%);
  /* min-height: 100vh; */
  height: 30px; /* Adjust as necessary */
  width: 100vw;
  opacity: 0.4;
  filter: blur(40px);
  background: radial-gradient(circle, rgb(18, 96, 159) 0%, rgba(107, 107, 248, 0.8) 100%);
}

.gradient-circle-bottom {
  bottom: -20px; /* Adjust as necessary for the bottom gradient */
  height: 30px; /* Adjust as necessary */
  opacity: 0.2;
}

.gradient-shadow:hover::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, rgb(18, 96, 159) 0%, rgba(107, 107, 248, 0.8) 100%);
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.gradient-shadow:hover::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

@media screen and (min-aspect-ratio: 16/10) {
  body {
    box-sizing: border-box;
    width: calc(100% - 5vw); /* Adjust width to account for padding */
    padding-left: 5vw;
    padding-right: 5vw;
    margin: 0 auto; /* Center the content */
    overflow-x: hidden; /* Hide horizontal overflow */
  }
}

.glow {
  color: #F0F0F0; /* Light grey text color, adjust as needed */
}

/* Project card height */
.project-height {
  height: 300px;
}

@media (max-width: 767px) {
  .project-height {
    height: 200px;
  }
}

/* styles/global.css */
.grid-odd-last-center::after {
  content: "";
  display: block;
  flex: auto;
}

.text-bold {
  font-weight: bold;
}

.custom-shadow {
  transition: all 0.3s ease-out;
  /* Adjust the 4th value (spread) to a negative number to tighten the shadow closer to the box */
  /* The 2nd and 3rd values are vertical and horizontal offset, the 4th is blur, the 5th is spread */
  box-shadow: 0px 8px 30px -20px rgba(0, 0, 0, 0.2);
}

.custom-shadow:hover {
  /* This scales the entire card, including the shadow */
  transform: scale(1.05);
}
