@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./markdown.css";

* {
  font-family: "Open Sans";
}

body {
  @apply dark:bg-black dark:text-white;
}

.gradient-circle, .gradient-circle-bottom {
  position: absolute;
  pointer-events: none;
  z-index: auto;
  left: 50%;
  transform: translateX(-50%);
  /* min-height: 100vh; */
  height: 30px; /* Adjust as necessary */
  width: 100vw;
  opacity: 0.4;
  filter: blur(40px);
  background: radial-gradient(circle, rgb(18, 96, 159) 0%, rgba(107, 107, 248, 0.8) 100%);
}

.gradient-circle-bottom {
  bottom: -20px; /* Adjust as necessary for the bottom gradient */
  height: 30px; /* Adjust as necessary */
  opacity: 0.2;
}

.gradient-shadow:hover::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, rgb(18, 96, 159) 0%, rgba(107, 107, 248, 0.8) 100%);
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.gradient-shadow:hover::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

@media screen and (min-aspect-ratio: 16/10) {
  body {
    box-sizing: border-box;
    width: calc(100% - 5vw); /* Adjust width to account for padding */
    padding-left: 5vw;
    padding-right: 5vw;
    margin: 0 auto; /* Center the content */
    overflow-x: hidden; /* Hide horizontal overflow */
  }
}

.glow {
  color: #F0F0F0; /* Light grey text color, adjust as needed */
}

/* Project card height */
.project-height {
  height: 300px;
}

@media (max-width: 767px) {
  .project-height {
    height: 200px;
  }
}

/* styles/global.css */
.grid-odd-last-center::after {
  content: "";
  display: block;
  flex: auto;
}

.text-bold {
  font-weight: bold;
}